<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div id="featurette-repeat">
<div w3-repeat="data">
	<div class="row featurette">
		<div class="col-md-7 {{pushRight}}">
			<h2 class="featurette-heading">{{heading}}.<span class="text-muted">  {{mutedHeading}}</span></h2>
			<p class="lead">{{description}} <a href={{url}}>See more</a>.</p>
		</div>
		<div class="col-md-5 {{pullLeft}}">
			<img class="featurette-image img-responsive center-block vertical-center" src={{img}} alt="Generic placeholder image"></img>
		</div>
	</div>

	<hr class="featurette-divider">
</div>
</div>

<!-- /END THE FEATURETTES -->