<!-- Eric Warrington -->
<!DOCTYPE html>

<html>
<style w3-include="./templates/navbar/navbar.css" callback="chickens"></style>

<script type="text/javascript">
	window.setAlt=function(image)
	{
		//stop image from continually erroring (when cloned)
		image.setAttribute("alt", "mail@spambot.com".replace(/[a-z.]/g, ''));
		
		var parent=image.parentNode;
		var at=document.createElement("at");
		at.innerHTML="mail@spambot.com".replace(/[a-z.]/g, '');
		parent.replaceChild(at, image);
		image.setAttribute("style", "display: none");
		
		image.onerror=null;
		
		//setalt/0;
		//console.log("testing...");
	};
</script>

<!-- NAVBAR HTML
 ================================================== -->
<div class="navbar-wrapper">
	<div class="container">
		
		<nav class="navbar navbar-inverse navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">Game Dev Portfolio</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="index.html">Home</a></li>
						<!--<li><a href="#about">About</a></li>-->
						<li><a href="#contact">Contact</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li w3-repeat="data"><a href="{{url}}">{{heading}}</a></li>
							</ul>
						</li>
						
						
					</ul>
					<ul class="nav navbar-nav navbar-right hidden-sm-down">
						<!-- contact stuff here -->
						<li id="contact" style="color: white !important;">
							<a href="javascript:void(0);">
								<span>Hello</span><img src="#" onError="setAlt(this);"></img><span>r<span class="noshow">bullsh</span>it.</span>edu
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		
	</div>
</div>



<script w3-include="./templates/navbar/navbar.js"></script>

</html>


