<!-- Eric Warrington -->


<style w3-include="./templates/gallery/blueimp/blueimp-gallery.css"></style>


<!-- The blueimp Gallery as lightbox dialog; should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
	<div class="slides"></div>
	<h3 class="title"></h3>
	<a class="prev">‹</a>
	<a class="next">›</a>
	<a class="close">×</a>
	<a class="play-pause"></a>
	<ol class="indicator"></ol>
</div>

<!--  -->
<div id=links style="overflow-y:hidden; overflow-x:auto; height:220px;">
	<div id="image-wrapper" style="display:block; height:100%; width:500px;">
		<a w3-repeat="data" href="" data-img="{{img}}" style="display:inline-block; float:left; height:220px;">
			<img src={{img}} style="display:inline-block; max-height:300px; height:95%; margin:2.5%;" title="Click to Enlarge"></img>
		</a>
	</div>
</div>


<script w3-include="./templates/gallery/blueimp/blueimp-gallery.js"></script>

<script w3-include="./templates/gallery/gallery.js"></script>

